<h1>Hello, brunch and bootstrap!</h1>
<p>A lightweight approach to building HTML5 applications with emphasis on elegance and simplicity</p>
<p>Brunch is an assembler for HTML5 applications. It's agnostic to frameworks, libraries, programming, stylesheet & templating languages and backend technology.</p>
<p><a class="btn btn-primary btn-large" href="http://brunch.io">Learn more &raquo;</a></p>