<ul class="nav nav-list">
  <li class="nav-header">{{title}}</li>
  <li class="active"><a href="#">Group</a></li>
  {{#each collection}}
    <li><a href="/issue/{{id}}">{{title}}</a></li>
  {{/each}}
</ul>
